body {
    background-color: #f8e1bd;
    margin: 0;
}

#logo {
    max-width: 15.3rem;    
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 15.3rem;
} 

.banner {
    display: grid;
    grid-template-areas: 
        "l . ."
        ". . sc"
        ". c sc"
    ;
    margin-bottom: .3rem;
    justify-items: end;
}


.logo {
    grid-area: l;
}

.chat {
    grid-area: c;
    margin: .1rem;
}

.scart {
    grid-area: sc;
    margin: .1rem;
}

.chat {
    background-color: darkgreen;
    border: none;
    border-radius: 19.5px;
    color: rgb(236, 87, 50);
    font-size: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
}

.scart {
    background-color: rgb(252, 204, 117);
    color: rgb(236, 87, 50);
    border: none;
    width:min-content;
    font-size: 2rem;
    margin-right: .4rem;
}


/*nav below*/

nav {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;  
    background-color: rgb(236, 87, 50);
}

h1 {
    color: rgb(252, 204, 117);
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem; 
}

.burger {
    font-size: 1.5rem;

}
.main > *:not(:last-child) {
    background-color: rgb(236, 87, 50);
}
.main > *:not(:last-child) {
    display: inline-block;
}
/*to select the childern except the the last*/
.activemenu {
    list-style: none;
    background-color: rgb(252, 204, 117);
    margin-top: -.1rem;
    padding: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 87, 50);
    transform: translateX(-800px);
}
/* creates my hidden nav*/

.hidden {
    z-index: 3;
    position: relative;
}
.activemenu li {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: rgb(236, 87, 50);
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* test, works for now */

.menubutton:focus + div{
    animation-name: slideIn;
    animation-duration: 3s;
    animation-fill-mode:forwards;
}


/* slide in nav the animation, first of two required animations*/
@keyframes slideIn {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(800px);
  }
}


.popular {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.pb {
    grid-area: pb;
}

.ab {
    grid-area: ab;

}

.eb {
    grid-area: eb;

}

.hb {
    grid-area: hb;

}

.rb {
    grid-area: rb;

}

.sb {
    grid-area: sb;

}

.popgrid {
    display: grid;
    grid-template-areas: 
        "pb ab eb"
        "hb rb sb"
    ;
}

.zindex {
    z-index: 1;
    order: 0;
    position: relative;
    margin-top: -13.5rem;
    background-color: rgb(252, 204, 117);
    padding-bottom: 1rem;
    font-family: 'Modak', cursive;
    font-weight: lighter;
    font-size: .9rem;
    color: rgb(236, 87, 50);
}
h2 {
    text-align: center;
    color: darkgreen;
    font-weight: lighter;
    padding-top: 1rem;
}
/* zindex to allow placement of animated/ hidden nav*/

.bakercenter {
    text-align: center;
}

.menucenter {
    text-align: center;
}


@media screen and (min-width: 370px) {
    h1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .hpics {
        width: 110px;
        border-radius: 20px;
        height: 90px;
    }    
    .bakerpic {
        width: 95%;
        padding-top: 1rem;
        border-radius: 35px;
    }
    .menupic {
        width: 95%;
        border-radius: 35px;
    }
    h3 {
        z-index: 4;
        text-align: center;
        color: rgb(236, 87, 50);
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: smaller;
        font-weight: 800;
        position: relative;
        top: -9.5rem;
    }
    
    .bakerpic {
        z-index: 2;
        position: relative;
    }
    .events {
        margin-left: 2.5%; 
        margin-right: 2.5%;       
    }
    h6 {
        z-index: 4;
        margin: 0;
        position: relative;
        top: -15rem;
        font-size: larger;
    }
    .bevent {
        width: 120px;
        border-radius: 25px;
        float: right;
        margin-left: -2rem;
        margin-right: 1rem;
        z-index: 2;
    }
    .events ul {
        font-size: .9rem;
        color: rgb(236, 87, 50);
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgb(252, 204, 117);
        border-radius: 70px;
        width: fit-content;
        margin-left: 1rem;
        padding-bottom: .5rem;
        
    }
    .events ul li:nth-child(1){
        position: relative;
        left: 3rem;
    }
    h5 {
        z-index: 4;
        float: right;
        right: -5rem;
        padding-top: 1.5rem;
        font-size: .7rem;
        color: rgb(236, 87, 50);
        position: relative;

    }
    h4 {
        background-color: rgb(252, 204, 117);
        color: rgb(236, 87, 50);
        border-radius: 50px;
        width: 5rem;
        position: relative;
        left: 6rem;
        top: .5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    /* below is css for location html*/
    .map {
        width: 95%;
        border-radius: 25px;
        background-color: rgb(252, 204, 117);
        padding-top: 1rem;
        z-index: 2;
    }
    .mapcenter {
        text-align: center;
    }
    .ping {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        background-color: red;
        width: fit-content;
        font-size: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
        border-radius: 0px 0px 35px 35px;
        z-index: 4;
        position: relative;
        left: 6rem;
        top: -7rem;
    }
    #locate h4 {
        color: rgb(252, 204, 117);
        text-align: center;
        padding-left: 3rem;
        background-color: rgb(236, 87, 50);
    }
    #locate {
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: -2.3rem ;
    }
    .kid {
        width: 95%;
        border-radius: 35px;
    }
    .kidcenter {
        text-align: center;
    }
    .visit {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    /* about us css */
    .team {
        width: 150px;
        height: 120px;
    }
    
}

@media screen and (min-width: 390px) {
    h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .events ul {
        font-size: .9rem;
        color: rgb(236, 87, 50);
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgb(252, 204, 117);
        border-radius: 70px;
        width: fit-content;
        margin-left: 1rem;
        padding-bottom: .5rem;
        
    }
    .events ul li:nth-child(1){
        position: relative;
        left: 1rem;
    }
    .hpics {
        width: 110px;
        border-radius: 20px;
        height: 100px;
    }    
    .bakerpic {
        width: 95%;
        padding-top: 1rem;
        border-radius: 35px;
    }
    .menupic {
        width: 95%;
        border-radius: 35px;
    }
    h3 {
        z-index: 4;
        text-align: center;
        color: rgb(236, 87, 50);
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: smaller;
        font-weight: 800;
        position: relative;
        top: -10rem;
    }
    
    .bakerpic {
        z-index: 2;
        position: relative;
    }
    h6 {
        z-index: 4;
        margin: 0;
        position: relative;
        top: -16rem;
        font-size: larger;
    }
    /* some more location css */
    .ping {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        background-color: red;
        width: fit-content;
        font-size: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
        border-radius: 0px 0px 35px 35px;
        z-index: 4;
        position: relative;
        left: 6.5rem;
        top: -7rem;
    }
    #locate h4 {
        color: rgb(252, 204, 117);
        text-align: center;
        padding-left: 4rem;
        background-color: rgb(236, 87, 50);
    }
    .visit {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    
}
/* required media screens to display differing screen sizes for mobile screens */

.events {
    color: rgb(252, 204, 117);
    font-family: 'Modak', cursive;

}

.menucenter {
    color: rgb(236, 87, 50);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: lighter;
}

footer {
    color: rgb(252, 204, 117);
    background-color: rgb(236, 87, 50);
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-bottom: .1rem;
}

.events {
    background-color: rgb(236, 87, 50);
    border-radius: 105px;
    text-align: center;
    margin-top: -2rem;
    padding-bottom: 1rem;
}
.menupic {
    padding-top: 1rem;
}
.events ul {
    list-style: none;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
    text-align: center;
}

.menupic {
    z-index: 2;
    position: relative;
}

/* below is css for Location Html*/

.ping {
    animation: constant;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes constant {
    from {
        opacity: 100;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 2;
    }
}



#locate {
    color: rgb(252, 204, 117);
    text-align: center;
    background-color: rgb(236, 87, 50);
    border-radius: 30px;
    font-family: 'Modak', cursive;
    font-weight:lighter;
}

#locate ul {
    list-style: none;
    padding-left: 0;
}

#locate li{
    padding: 1rem;
}

footer {
    text-align: center;
}

/* about page css below*/

.teams {
    display: grid;
    grid-template-areas: 
        "joe ca"
        "ma jr"
    ;
}

.joe{grid-area: joe;}
.ma{grid-area: ma;}
.jr{grid-area: jr;}
.ca{ grid-area: ca;}

.teams {
    list-style-type: none;
    margin: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
}

.team{
    padding-left: .09rem;
    border-radius: 25px;
}