body {
    background-color: #f8e1bd;
    margin: 0;
}

#logo {
    max-width: 15.3rem;    
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 15.3rem;
} 

.banner {
    display: grid;
    grid-template-areas: 
        "l . ."
        ". . sc"
        ". c sc"
    ;
    margin-bottom: .3rem;
    justify-items: end;
}


.logo {
    grid-area: l;
}

.chat {
    grid-area: c;
    margin: .1rem;
}

.scart {
    grid-area: sc;
    margin: .1rem;
}

.chat {
    background-color: darkgreen;
    border: none;
    border-radius: 19.5px;
    color: rgb(236, 87, 50);
    font-size: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
}

.scart {
    background-color: rgb(252, 204, 117);
    color: rgb(236, 87, 50);
    border: none;
    width:min-content;
    font-size: 2rem;
    margin-right: .4rem;
}


/*nav below*/

nav {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;  
    background-color: rgb(236, 87, 50);
}

h1 {
    color: rgb(252, 204, 117);
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem; 
}

.burger {
    font-size: 1.5rem;

}
.main > *:not(:last-child) {
    background-color: rgb(236, 87, 50);
}
.main > *:not(:last-child) {
    display: inline-block;
}
/*to select the childern except the the last*/
.activemenu {
    list-style: none;
    background-color: rgb(252, 204, 117);
    margin-top: -.1rem;
    padding: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 87, 50);
    transform: translateX(-800px);
}
/* creates my hidden nav*/

.hidden {
    z-index: 3;
    position: relative;
}
.activemenu li {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: rgb(236, 87, 50);
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* test, works for now */

.menubutton:focus + div{
    animation-name: slideIn;
    animation-duration: 3s;
    animation-fill-mode:forwards;
}


/* slide in nav the animation, first of two required animations*/
@keyframes slideIn {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(800px);
  }
}


.popular {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.pb {
    grid-area: pb;
}

.ab {
    grid-area: ab;

}

.eb {
    grid-area: eb;

}

.hb {
    grid-area: hb;

}

.rb {
    grid-area: rb;

}

.sb {
    grid-area: sb;

}

.popgrid {
    display: grid;
    grid-template-areas: 
        "pb ab eb"
        "hb rb sb"
    ;
}

.zindex {
    z-index: 1;
    order: 0;
    position: relative;
    margin-top: -13.5rem;
    background-color: rgb(252, 204, 117);
    padding-bottom: 1rem;
    font-family: 'Modak', cursive;
    font-weight: lighter;
    font-size: .9rem;
    color: rgb(236, 87, 50);
}
h2 {
    text-align: center;
    color: darkgreen;
    font-weight: lighter;
    padding-top: 2rem;
}
/* zindex to allow placement of animated/ hidden nav*/

.bakercenter {
    text-align: center;
}

.menucenter {
    text-align: center;
}

@media screen and (min-width: 370px) {
    .hpics {
        width: 110px;
        border-radius: 20px;
        height: 90px;
    }    
    .bakerpic {
        width: 95%;
        padding-top: 1rem;
        border-radius: 35px;
    }
    .menupic {
        width: 95%;
        border-radius: 35px;
    }
}

@media screen and (min-width: 400px) {
    .hpics {
        width: 110px;
        border-radius: 20px;
        height: 100px;
    }    
    .bakerpic {
        width: 95%;
        padding-top: 1rem;
        border-radius: 35px;
    }
    .menupic {
        width: 95%;
        border-radius: 35px;
    }
}
/* required media screens to display differing screen sizes for mobile screens */
